apispec
ariadne
attrs
blacken-docs
boltons
build
cattrs
click-option-group
click-plugins
dataclasses-json
dateparser
dynaconf
fastapi-utils
flake8
flask-cors
flask-login
flask-wtf
freezegun
graphql-core
humanize
isort
itsdangerous
jinja2
jsonpickle
loguru
marshmallow
more-itertools
nox
opentelemetry-instrumentation-requests
platformdirs
pluggy
pre-commit
pycodestyle
pyflakes
pytest-asyncio
pytest-httpx
pytest-mock
python-dotenv
requests-cache
requests-oauthlib
requests-toolbelt
responses
respx
rich-click
slowapi
sortedcontainers
strawberry-graphql
structlog
tenacity
tomli
tomli-w
toolz
tox
twine
typer
vcrpy
virtualenv
wtforms
